html {
  font-family: 'Fjalla One', sans-serif;
  background-color: #CBE0FE;
}

header {
}

h1 {
  text-align: center;
}

#main {
  position: relative;
  left: 2.5%;
  width: 95%;
  background-color: #EAF2FF;
  border: 1px solid #374A67;
  border-radius: 10px;
  text-align: center;
}

#description {
  text-align: center;
}

body {
}



footer {
  text-align: center;
}